<div class="row justify-content-center mt-5 mb-5">
  <div class="col-9">
    <div class="card shadow-lg">
      <div class="card-body">
        <h3 class="card-title text-center">Get your funds up with StonkTracker</h5>
        <div class="row justify-content-center">
          <%= link_to "Let's Go!", my_portfolio_path, class: 'btn btn-lg btn-outline-primary shadow' %>
        </div>
      </div>
      <img class="card-img-bottom img ratio" src="<%= asset_path( "memes.png" )%>" alt="Card image cap">
    </div>
  </div>
</div>
