@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

#logo {
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}

#home-container {
  margin-top: 6%;
}

@media (max-width:767px){
  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nowrap {
    flex-wrap: nowrap;
  }
}
.ratio {
  aspect-ratio: 7 / 4
}

.container {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
